

.UpNavBarBackground {
    display: flex;
    background-color: #505050;
    height: 4em;
    width: 100%;
    flex-direction: row;
    border:solid;
    align-items:center;

}

.AddMachineButton {
    border: transparent;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-left: 1.5rem;
}
