html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display:flex;
  flex-direction:column;
  background-color:#3a3a3a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Exo 2";
  src:  url("../public/fonts/Exo2/Exo2-Regular.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Exo 2 bold";
  src:  url("../public/fonts/Exo2/Exo2-Bold.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;

}