html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Exo 2';
  src:  url(../public/fonts/Exo2/Exo2-Regular.ttf), format('ttf');
  font-weight: 900;
  font-style: normal;
}